li {
    font-size: 12px;
}

li div.item {
    padding: 4px;
}

li div label {
    background: #2A2D2E;
    margin: 0 2px;
}

li.item {
    cursor: pointer;
    margin-left: -20px;
    color: #fff;
    padding-left: 0px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
}

li.item:hover {
      background:#2A2D2E;  
}

li.item.sub {
    background: transparent;    
}

li div.item.sub.label{
    border-radius: 3px;  
}

li div.item.sub.label:hover{
    background:#2A2D2E;  
}

li.item.selected {
    background:#094771;
    color: #fff;  
}